.content-box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 250px;
    height: 100vh;
    background: #ea580b0d;
}
/* .content-box::before {    
    content: "";
    background-image: url('/gita_updesh.webp');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
} */
.right-sidebar {
    background-color: #fff;
    padding: 10px;
}

.resposive-box {
    display: grid;
    grid-template-columns: 260px 1fr;
}

/* .badge {
    display: inline-block;
    padding: 0 8px;
    border: 1px solid #cdcdcd;
    margin-right: 7px;
    margin-bottom: 7px;
    
}
.badge-link{
    background: #f3815f;
    cursor: pointer;
    color: #f1f1f1;
    border-radius: 3px;
} */

.badge {
    display: inline-block;
    padding: 0 8px;
    border: 1px solid #f0b97a;
    margin-right: 7px;
    margin-bottom: 7px;
}
.badge-link {
    background: #fed7aa;
    cursor: pointer;
    color: #c76531;
    border-radius: 3px;
    width: 35px;
    text-align: center;
}
.badge.selected{
    background: #ea580b;
    color: #fbf6ef;
}

.badge-link:hover{
    color: #fff;
}

.bdr-rt {
    border-right: 1px solid #fbe1d6;
}
.slok-meaning {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.word-meaning-grid  {
    width: 80%;
    margin: 20px auto 10px;
    background-color: #fff1e2;
}
.word-meaning-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.word-meaning-grid > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}
.word-meaning-grid > div > div{
    font-size: 0.975rem !important;
}

.left-arr {
    position: absolute;
    left: 0px;
}
.right-arr {
    position: absolute;
    right: 10px;
}

.left-arr,  .right-arr {
    top: 9%;
    cursor: pointer;
    color: #c76531;
    cursor: pointer;
    color: #c76531;
    width: 28px;
    border-radius: 50%;
    background: #fdcab4;
}


@media (max-width: 1024px) {
    .content-box{
        grid-template-columns: 100%;
        padding: 0 10px;
        display: block;
    }  
    .text-xl {
        font-size: 1rem;
    }
    .chapter-title {
        text-align: center;
    }
    .resposive-box {
        display: grid;
        grid-template-columns: 100%;
        display: block;
    }
    .bdr-rt {
        border: none;
    }
    .slok-meaning, .word-meaning-grid{
        width: 100%;
    }
}