.collapsible-component{
    display: grid;
    grid-template-columns: 15px auto;
    grid-gap: 7px;
    cursor: pointer;

    background: #faa886;
    color: #7d665c;
    padding-left: 8px;
}

.animation{
    transition: all .2s;
}
